.primary {
  color: #ffffff;
  background: #6e41e2;

  &:hover {
    background: #5835b0;
  }

  &:active {
    background: #472c8a;
  }

  &:disabled,
  &[disabled] {
    background: #e3daf9;
  }
}

.primaryWhite {
  color: #6e41e2;
  background-color: #ffffff;
  opacity: 1;

  &:hover {
    background: rgba(255, 255, 255, 0.88);
  }

  &:active {
    background: #ffffff;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}

.secondary {
  color: #6e41e2;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #6e41e2;
  opacity: 1;

  &:hover {
    background: rgba(110, 65, 226, 0.04);
  }

  &:active {
    background: rgba(110, 65, 226, 0.16);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}

.secondaryWhite {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  opacity: 1;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &:active {
    background: rgba(255, 255, 255, 0.16);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}

.flat {
  color: #6e41e2;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  opacity: 1;

  &:hover {
    background: rgba(110, 65, 226, 0.04);
  }

  &:active {
    background: rgba(110, 65, 226, 0.16);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}

.flatWhite {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  opacity: 1;

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &:active {
    background: rgba(255, 255, 255, 0.16);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}

.secondaryDark {
  color: #111111;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #111111;
  opacity: 1;

  &:hover {
    background: rgba(17, 17, 17, 0.04);
  }

  &:active {
    background: rgba(17, 17, 17, 0.12);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.56;
  }
}
